.cklivestream {
  clear: both;
  margin: 0 0 10px 0;
  overflow: auto; /* cause floated link inside to still show above margin */
}

.ckfacebook {
  clear: both;
  width: 100%;
  height: 350px;
}

.cktwitter {
  width: 100%;
  clear: both;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}

.ckmailman {
  clear: both;
  width: 100%;
  min-height: 60px;
  margin-left: auto;
  margin-right: auto;
}

.ckmailman_input {
  width: 100%;
  max-width: 150px;
  min-width: 100px;
}

.cktwitter a,
.ckfacebook a,
.cklivestream a {
  padding: 5px 5px 5px 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  float: left; /* floated so that multiline links don't have overlapping text/backgrounds */
}
.cktwitter a {
  background: #eee url('../plugins/socialmedia/icons/twitter.png') 5px center no-repeat;
}
.ckfacebook a {
  background: #eee url('../plugins/socialmedia/icons/facebook.png') 5px center no-repeat;
}
.cklivestream a {
  background: #eee url('../plugins/socialmedia/icons/livestream.png') 5px center no-repeat;
}
.twtr-widget h3,
.twtr-widget h4 {
  /*Twitter's widget expects these not to clear floats*/
  clear: none;
}

.tableauWrapper {
  width: 100%;
  margin: 0 auto;
  overflow: auto;
}

.vimeoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -5px;
}
.vimeoWrapper iframe,
.vimeoWrapper object,
.vimeoWrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.vimeoWrapper-link {
  margin-top: 3px;
}
/*MailChimp form*/
#mc_embed_signup .indicates-required {
  display: none;
}

#mc_embed_signup .mc-field-group .asterisk {
  color: #e00;
}

#mc_embed_signup .mc-field-group .asterisk:after {
  content: " (required)";
}

#mc_embed_signup .mc-field-group input[type="email"],
#mc_embed_signup .mc-field-group input[type="text"] {
  width: 85%;
}

#mc_embed_signup .mc-field-group {
  margin: 1em 0 1em 0;
}
